<?xml version="1.0" encoding="utf-8" ?>
<assembly>
    <namespace name="System">
        <class name="Byte" Name="System.Int">
            <method name="Parse" Name="ParseByte" />
            <method name="TryParse" Name="TryParseByte" />
            <method name="CompareTo" Template="({this} - {0})" >
                <arg type="System.Byte" />
            </method>
            <method name="CompareTo" Template="System.Int.CompareToObj({this}, {0})" >
                <arg type="System.Object" />
            </method>
            <method name="Equals" Template="({this} == {0})">
                <arg type="System.Byte" />
            </method>
            <method name="Equals" Template="System.Int.EqualsObj({this, {0}})" >
                <arg type="System.Object" />
            </method>
            <method name="GetHashCode" Template="System.Int.GetHashCode({this})" />
            <method name="ToString" Template="tostring({this})" />
        </class>
        <class name="Int16" Name="System.Int" >
            <method name="Parse" Name="ParseInt16" />
            <method name="TryParse" Name="TryParseInt16" />
            <method name="CompareTo" Template="({this} - {0})" >
                <arg type="System.Int16" />
            </method>
            <method name="CompareTo" Template="System.Int.CompareToObj({this}, {0})" >
                <arg type="System.Object" />
            </method>
            <method name="Equals" Template="({this} == {0})">
                <arg type="System.Int16" />
            </method>
            <method name="Equals" Template="System.Int.EqualsObj({this, {0}})" >
                <arg type="System.Object" />
            </method>
            <method name="GetHashCode" Template="System.Int.GetHashCode({this})" />
            <method name="ToString" Template="tostring({this})" />
        </class>
        <class name="Int32" Name="System.Int" >
            <method name="CompareTo" Template="({this} - {0})" >
                <arg type="System.Int32" />
            </method>
            <method name="CompareTo" Template="System.Int.CompareToObj({this}, {0})" >
                <arg type="System.Object" />
            </method>
            <method name="Equals" Template="({this} == {0})">
                <arg type="System.Int32" />
            </method>
            <method name="Equals" Template="System.Int.EqualsObj({this, {0}})" >
                <arg type="System.Object" />
            </method>
            <method name="GetHashCode" Template="System.Int.GetHashCode({this})" />
            <method name="ToString" Template="tostring({this})" />
        </class>
        <class name="Int64" Name="System.Int" >
            <method name="Parse" Name="ParseInt64" />
            <method name="TryParse" Name="TryParseInt64" />
            <method name="CompareTo" Template="({this} - {0})" >
                <arg type="System.Int64" />
            </method>
            <method name="CompareTo" Template="System.Int.CompareToObj({this}, {0})" >
                <arg type="System.Object" />
            </method>
            <method name="Equals" Template="({this} == {0})">
                <arg type="System.Int64" />
            </method>
            <method name="Equals" Template="System.Int.EqualsObj({this, {0}})" >
                <arg type="System.Object" />
            </method>
            <method name="GetHashCode" Template="System.Int.GetHashCode({this})" />
            <method name="ToString" Template="tostring({this})" />
        </class>
        <class name="SByte" Name="System.Int" >
            <method name="Parse" Name="ParseSByte" />
            <method name="TryParse" Name="TryParseSByte" />
            <method name="CompareTo" Template="({this} - {0})" >
                <arg type="System.SByte" />
            </method>
            <method name="CompareTo" Template="System.Int.CompareToObj({this}, {0})" >
                <arg type="System.Object" />
            </method>
            <method name="Equals" Template="({this} == {0})">
                <arg type="System.SByte" />
            </method>
            <method name="Equals" Template="System.Int.EqualsObj({this, {0}})" >
                <arg type="System.Object" />
            </method>
            <method name="GetHashCode" Template="System.Int.GetHashCode({this})" />
            <method name="ToString" Template="tostring({this})" />
        </class>
        <class name="UInt16" Name="System.Int" >
            <method name="Parse" Name="ParseUInt16" />
            <method name="TryParse" Name="TryParseUInt16" />
            <method name="CompareTo" Template="({this} - {0})" >
                <arg type="System.UInt16" />
            </method>
            <method name="CompareTo" Template="System.Int.CompareToObj({this}, {0})" >
                <arg type="System.Object" />
            </method>
            <method name="Equals" Template="({this} == {0})">
                <arg type="System.UInt16" />
            </method>
            <method name="Equals" Template="System.Int.EqualsObj({this, {0}})" >
                <arg type="System.Object" />
            </method>
            <method name="GetHashCode" Template="System.Int.GetHashCode({this})" />
            <method name="ToString" Template="tostring({this})" />
        </class>
        <class name="UInt32" Name="System.Int" >
            <method name="Parse" Name="ParseUInt32" />
            <method name="TryParse" Name="TryParseUInt32" />
            <method name="CompareTo" Template="({this} - {0})" >
                <arg type="System.UInt32" />
            </method>
            <method name="CompareTo" Template="System.Int.CompareToObj({this}, {0})" >
                <arg type="System.Object" />
            </method>
            <method name="Equals" Template="({this} == {0})">
                <arg type="System.UInt32" />
            </method>
            <method name="Equals" Template="System.Int.EqualsObj({this, {0}})" >
                <arg type="System.Object" />
            </method>
            <method name="GetHashCode" Template="System.Int.GetHashCode({this})" />
            <method name="ToString" Template="tostring({this})" />
        </class>
        <class name="UInt64" Name="System.Int" >
            <method name="Parse" Name="ParseUInt64" />
            <method name="TryParse" Name="TryParseUInt64" />
            <method name="CompareTo" Template="({this} - {0})" >
                <arg type="System.UInt64" />
            </method>
            <method name="CompareTo" Template="System.Int.CompareToObj({this}, {0})" >
                <arg type="System.Object" />
            </method>
            <method name="Equals" Template="({this} == {0})">
                <arg type="System.UInt64" />
            </method>
            <method name="Equals" Template="System.Int.EqualsObj({this, {0}})" >
                <arg type="System.Object" />
            </method>
            <method name="GetHashCode" Template="System.Int.GetHashCode({this})" />
            <method name="ToString" Template="tostring({this})" />
        </class>
        <class name="Single" Name="System.Double" >
            <field name="NaN" Template="System.NaN" />
            <field name="NegativeInfinity" Template="System.NegInf" />
            <field name="PositiveInfinity" Template="System.PosInf" />
            <method name="Parse" Name="ParseSingle" />
            <method name="TryParse" Name="TryParseSingle" />
            <method name="CompareTo" Template="({this} - {0})" >
                <arg type="System.Single" />
            </method>
            <method name="CompareTo" Template="System.Double.CompareToObj({this}, {0})" >
                <arg type="System.Object" />
            </method>
            <method name="Equals" Template="({this} == {0})">
                <arg type="System.Single" />
            </method>
            <method name="Equals" Template="System.Double.EqualsObj({this, {0}})" >
                <arg type="System.Object" />
            </method>
            <method name="GetHashCode" Template="System.Double.GetHashCode({this})" />
            <method name="ToString" Template="tostring({this})" />
        </class>
        <class name="Double">
            <field name="NaN" Template="System.NaN" />
            <field name="NegativeInfinity" Template="System.NegInf" />
            <field name="PositiveInfinity" Template="System.PosInf" />
            <method name="CompareTo" Template="({this} - {0})" >
                <arg type="System.Double" />
            </method>
            <method name="CompareTo" Template="System.Double.CompareToObj({this}, {0})" >
                <arg type="System.Object" />
            </method>
            <method name="Equals" Template="({this} == {0})">
                <arg type="System.Double" />
            </method>
            <method name="Equals" Template="System.Double.EqualsObj({this, {0}})" >
                <arg type="System.Object" />
            </method>
            <method name="GetHashCode" Template="System.Double.GetHashCode({this})" />
            <method name="ToString" Template="tostring({this})" />
        </class>
        <class name="Boolean">
            <method name="CompareTo" Template="System.Boolean.CompareTo({this}, {0})" >
                <arg type="System.Boolean" />
            </method>
            <method name="CompareTo" Name="System.Boolean.CompareToObj({this}, {0})" >
                <arg type="System.Object" />
            </method>
            <method name="Equals" Template="({this} == {0})">
                <arg type="System.Boolean" />
            </method>
            <method name="Equals" Template="System.Boolean.EqualsObj({this, {0}})" >
                <arg type="System.Object" />
            </method>
            <method name="GetHashCode" Template="System.Boolean.GetHashCode({this})" />
            <method name="ToString" Template="tostring({this})" />
        </class>
        <class name="Char">
            <method name="CompareTo" Template="({this} - {0})" >
                <arg type="System.Char" />
            </method>
            <method name="CompareTo" Name="System.Char.CompareToObj({this}, {0})" >
                <arg type="System.Object" />
            </method>
            <method name="Equals" Template="({this} == {0})">
                <arg type="System.Char" />
            </method>
            <method name="Equals" Template="System.Char.EqualsObj({this, {0}})" >
                <arg type="System.Object" />
            </method>
            <method name="GetHashCode" Template="System.Char.GetHashCode({this})" />
            <method name="ToString" Template="tostring({this})" />
        </class>   
        <class name="String">
            <property name="Length">
                <get Template="#{this}" />
            </property>
            <method name="CompareTo" Name="CompareToObj" >
                <arg type="System.Object" />
            </method>
            <method name="Equals" Name="EqualsObj" >
                <arg type="System.Object" />
            </method>
        </class>
        <class name="Object">
            <method name="Equals" Template="System.Object.Equals({this, {0}})" >
                <arg type="System.Object" />
            </method>
            <method name="Equals" Name="EqualsStatic" >
                <arg type="System.Object" />
                <arg type="System.Object" />
            </method>
            <method name="GetHashCode" Template="System.Object.GetHashCode({this})" />
            <method name="GetType" Template="System.GetType({this})" />
            <method name="ToString" Template="System.Object.ToString({this})" />
        </class>
        <class name="Array" Name="System.Array">
            <property name="Length">
                <get Template="#{this}" />
            </property>
        </class>
        <class name="IComparable^1">
            <method name="CompareTo" Template="System.CompareT({this}, {0}, {^0})" />
        </class>
    </namespace>
    <namespace name="System.Collections" Name="System" />
    <namespace name="System.Collections.Generic" Name="System">
        <class name="List^1" Name="System.List">
            <property name="Count">
                <get Template="#{this}" />
            </property>
        </class>
        <class name="Dictionary^2" Name="System.Dictionary"/>
        <class name="Queue^1" Name="System.Queue">
            <property name="Count">
                <get Template="#{this}" />
            </property>
        </class>
        <class name="Stack^1" Name="System.Stack">
            <property name="Count">
                <get Template="#{this}" />
            </property>
        </class>
        <class name="LinkedList^1" Name="System.LinkedList" />
        <class name="LinkedListNode^1" Name="System.LinkedListNode">
            <property name="Value" IsAutoField="true" />
            <property name="List" IsFAutoield="true" />
        </class>
        <class name="HashSet^1" Name="System.HashSet" />
        <class name="EqualityComparer^1" >
            <method name="Equals" Template="{this}.Equals({0}, {1})" />
            <method name="GetHashCode" Template="{this}.GetHashCode({0})" />
        </class>
        <class name="Comparer^1">
            <method name="Compare" Template="{this}.Compare({0}, {1})" />
        </class>
    </namespace>
    <namespace name="System.Linq">
        <class name="Enumerable" Name="Linq" >
            <method name="Where" Template="Linq.Where({0}, {1})" />
            <method name="Select" Template="Linq.Select({0}, {1}, {^1})" />
            <method name="SelectMany" Template="Linq.SelectMany({0}, {1}, {^1})" />
            <method name="Take" Template="Linq.Take({0}, {1})" />
            <method name="TakeWhile" Template="Linq.TakeWhile({0}, {1})" />
            <method name="Skip" Template="Linq.Skip({0}, {1})" />
            <method name="SkipWhile" Template="Linq.SkipWhile({0}, {1})" />
            <method name="Concat" Template="Linq.Concat({0}, {1})" />
            <method name="Zip" Template="Linq.Zip({0, {1}, {2}}, {^2})" />
            <method name="Distinct" Template="Linq.Distinct({0}, {1})" />
            <method name="Union" Template="Linq.Union({0}, {1}, {2})" />
            <method name="Intersect" Template="Linq.Intersect({0}, {1}, {2})" />
            <method name="Except" Template="Linq.Except({0}, {1}, {2})" />
            <method name="Reverse" Template="Linq.Reverse({0})" />
            <method name="SequenceEqual" Template="Linq.SequenceEqual({0}, {1})" />
            <method name="ToArray" Template="Linq.ToArray({0})" />
            <method name="ToList" Template="Linq.ToList({0})" />
            <method name="First" Template="Linq.First({0}, {1})" />
            <method name="FirstOrDefault" Template="Linq.FirstOrDefault({0}, {1})" />
            <method name="Last" Template="Linq.Last({0}, {1})" />
            <method name="LastOrDefault" Template="Linq.LastOrDefault({0}, {1})" />
            <method name="Single" Template="Linq.Single({0, {1}})" />
            <method name="SingleOrDefault" Template="Linq.SingleOrDefault({0}, {1})" />
            <method name="ElementAt" Template="Linq.ElementAt({0}, {1})" />
            <method name="ElementAtOrDefault" Template="Linq.ElementAtOrDefault({0}, {1})" />
            <method name="Any" Template="Linq.Any({0}, {1})" />
            <method name="All" Template="Linq.All({0}, {1})" />
            <method name="Count" Template="Linq.Count({0}, {1})" />
            <method name="Contains" Template="Linq.Contains({0}, {1}, {2})" />
            <method name="Aggregate" Template="Linq.Aggregate({0}, {1}, {2})" />
            <method name="Sum" Template="Linq.Sum({0}, {1})" />
            <method name="Min" Template="Linq.Min({0}, {1}, {^2})" />
            <method name="Max" Template="Linq.Max({0}, {1}, {^2})" />
        </class>
    </namespace>
    <namespace name="System.Diagnostics">
        <class name="Debug">
            <method name="Assert" Template="assert({0}, {1})" />
        </class>
    </namespace>
    <namespace name="System.Diagnostics.Contracts">
        <class name="Contract">
            <method name="Assert" Template="assert({0}, {1})" />
            <method name="Assume" Template="assert({0}, {1})" />
            <method name="Ensures" Template="assert({0}, {1})" />
        </class>
    </namespace>
</assembly>