<?xml version="1.0" encoding="utf-8" ?> 
<assembly>
    <namespace name="System">
        <class name="Byte" Name="System.Int" />
        <class name="Int16" Name="System.Int" />
        <class name="Int32" Name="System.Int" >
            <method name="ToString" Template="tostring({this})" />
            <method name="CompareTo" Template="{this} - {0}" >
                <arg type="System.Int32" />        
            </method>
            <method name="CompareTo" Template="System.Int.CompareToObj({this, {0}})" >
                <arg type="System.Object" />
            </method>
        </class>
        <class name="Int64" Name="System.Int" />
        <class name="SByte" Name="System.Int" />
        <class name="UInt16" Name="System.Int" />
        <class name="UInt32" Name="System.Int" />
        <class name="UInt64" Name="System.Int" />
        <class name="Single" Name="System.Double" />
        <class name="Exception" IsSingleCtor="true" />
        <class name="ArgumentException" IsSingleCtor="true" />
        <class name="ArgumentNullException" IsSingleCtor="true" />
        <class name="ArgumentOutOfRangeException" IsSingleCtor="true" />
        <class name="ArithmeticException" IsSingleCtor="true" />
        <class name="DivideByZeroException" IsSingleCtor="true" />
        <class name="OverflowException" IsSingleCtor="true" />
        <class name="FormatException" IsSingleCtor="true" />
        <class name="InvalidCastException" IsSingleCtor="true" />
        <class name="InvalidOperationException" IsSingleCtor="true" />
        <class name="NotImplementedException" IsSingleCtor="true" />
        <class name="NotSupportedException" IsSingleCtor="true" />
        <class name="NullReferenceException" IsSingleCtor="true" />
        <class name="RankException" IsSingleCtor="true" />
        <class name="Array" Name="System.Array">
            <property name="Length">
                <get Template="#{this}" />
            </property>
        </class>
        <class name="String">
            <property name="Length">
                <get Template="#{this}" />
            </property>
        </class>
    </namespace>
    <namespace name="System.Collections.Generic" Name="System">
        <class name="List^1" Name="System.List" IsSingleCtor="true" >
            <property name="Count">
                <get Template="#{this}" />
             </property>
        </class>
        <class name="Dictionary^2" Name="System.Dictionary" IsSingleCtor="true" />
        <class name="Queue^1" Name="System.Queue" IsSingleCtor="true" >
            <property name="Count">
                <get Template="#{this}" />
            </property>
        </class>
        <class name="Stack^1" Name="System.Stack" IsSingleCtor="true" >
            <property name="Count">
                <get Template="#{this}" />
            </property>
        </class>
        <class name="LinkedList^1" Name="System.LinkedList" IsSingleCtor="true" />
        <class name="HashSet^1" Name="System.HashSet" IsSingleCtor="true" />
        <class name="KeyNotFoundException" Name="System.KeyNotFoundException" IsSingleCtor="true" />
    </namespace>
    <namespace name="System.Linq">
        <class name="Enumerable" Name="System.Linq" >
            <method name="Where" Template="System.Linq.Where({0}, {1})" />
            <method name="Select" Template="System.Linq.Select({0}, {1}, {^1})" />
            <method name="SelectMany" Template="System.Linq.SelectMany({0, {1}, {^1})" />
            <method name="Take" Template="System.Linq.Take({0}, {1})" />
            <method name="TakeWhile" Template="System.Linq.TakeWhile({0}, {1})" />
            <method name="Skip" Template="System.Linq.Skip({0}, {1})" />
            <method name="SkipWhile" Template="System.Linq.SkipWhile({0}, {1})" />
            <method name="Concat" Template="System.Linq.Concat({0}, {1})" />
            <method name="Zip" Template="System.Linq.Zip({0, {1}, {2}}, {^2})" />
            <method name="Distinct" Template="System.Linq.Distinct({0}, {1})" />
            <method name="Union" Template="System.Linq.Union({0}, {1}, {2})" />
            <method name="Intersect" Template="System.Linq.Intersect({0}, {1}, {2})" />
            <method name="Except" Template="System.Linq.Except({0}, {1}, {2})" />
            <method name="Reverse" Template="System.Linq.Reverse({0})" />
            <method name="SequenceEqual" Template="System.Linq.SequenceEqual({0}, {1})" />
            <method name="ToArray" Template="System.Linq.ToArray({0})" />
            <method name="ToList" Template="System.Linq.ToList({0})" />
            <method name="First" Template="System.Linq.First({0}, {1})" />
            <method name="FirstOrDefault" Template="System.Linq.First({0}, {1})" />
            <method name="Last" Template="System.Linq.Last({0}, {1})" />
            <method name="LastOrDefault" Template="System.Linq.LastOrDefault({0}, {1})" />
            <method name="Single" Template="System.Linq.Single({0, {1}})" />
            <method name="SingleOrDefault" Template="System.Linq.SingleOrDefault({0}, {1})" />
            <method name="ElementAt" Template="System.Linq.ElementAt({0}, {1})" />
            <method name="ElementAtOrDefault" Template="System.Linq.ElementAtOrDefault({0}, {1})" />
            <method name="Any" Template="System.Linq.Any({0}, {1})" />
            <method name="All" Template="System.Linq.All({0}, {1})" />
            <method name="Count" Template="System.Linq.Count({0}, {1})" />
            <method name="Contains" Template="System.Linq.Contains({0}, {1}, {2})" />
            <method name="Aggregate" Template="System.Linq.Aggregate({0}, {1}, {2})" />
            <method name="Sum" Template="System.Linq.Sum({0}, {1})" />
            <method name="Min" Template="System.Linq.Min({0}, {1}, {^2})" />
            <method name="Max" Template="System.Linq.Max({0}, {1}, {^2})" />
        </class>
    </namespace>
    <namespace name="System.Diagnostics">
        <class name="Debug">
            <method name="Assert" Template="assert({0}, {1})" />
        </class>
    </namespace>
    <namespace name="System.Diagnostics.Contracts">
        <class name="Contract">
            <method name="Assert" Template="assert({0}, {1})" />
            <method name="Assume" Template="assert({0}, {1})" />
            <method name="Ensures" Template="assert({0}, {1})" />
        </class>
    </namespace>
</assembly>